* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  padding-left: 30px;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  width: 400px;
  font-size: larger;
  font-weight: bold;
  padding-left: 120px;
  line-height: 40px;
  margin-bottom: 15px;
  border-radius: 8px;
}

button[data-start] {
  min-width: 75px;
  min-height: 42px;
  border-radius: 15px;
  border-color: green;
  color: green;
  background-color: rgb(233, 249, 233);
}

button:disabled {
  border-color: red;
  color: red;
  background-color: #f4dcdc;
}

.timer {
  display: flex;
  gap: 10px;
}

.field {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: large;
  font-variant: small-caps;
  text-transform: uppercase;
  border: 2px black solid;
  border-radius: 15px;
  background-color: #f8d8d8;
  width: 100px;
}

.value {
  font-weight: bold;
  font-size: larger;

  padding: 0;
}
